{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white" href="#"><span class="glyphicon glyphicon-facetime-video"></span> Movie Booking App</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a><span class="glyphicon glyphicon-user"></span> &nbsp;<span class="label label-danger">Logged in</span>&nbsp;<b>{{user}}</b></a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="{{url_for('dashboard')}}"><span class="glyphicon glyphicon-th-list"></span> Dashboard</a></li>
      <li class="dropdown"><a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" style="color:white" href="#">Select Movie <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for movie in all_movies %}
          <li><a href="{{url_for('movie_dropdown', movie=movie)}}">{{movie}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="active"><a href="{{url_for('show_bookings')}}"><span class="glyphicon glyphicon-tags"></span> User Bookings</a></li>
        <li class="active"><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>This Movie : {{movie}}</h2>
  {% if city %}
  <p> currently playing in below cinemas in <b>{{city}}</b> with available Show Times</p>
  {% else %}
  <p> currently playing in below cinemas with available Show Times</p>
  {% endif %}
  <p class="well well-sm" >Click on <span><b>Show Times</b></span> to Book Now <span class="glyphicon glyphicon-calendar"></span> </p>
  <table class="table">
    <thead>
      <tr class="active">
        <th>Cinema</th>
        <th>City</th>
        <th>ShowTimings</th>
      </tr>
    </thead>
    <tbody>
    {% for cinema in cinemas %}
      <tr>
        <td class="success">{{cinema[0]}}</td>
        <td class="danger">{{cinema[1]}}</td>
        <td>
          {% for show_time in cinema[2] %}
           {% set movie_detail = cinema[0] ~ "_" ~ movie ~ "_" ~ cinema[1] ~ "_" ~ show_time %}
            <a href="{{url_for('seats_availability', movie_detail=movie_detail)}}" class="btn btn-info" role="button">{{show_time}}</a>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}